 @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

      .manrope {
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      .montagu-slab {
        font-family: "Montagu Slab", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }
.grid-box {
  display: none;
  display:grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
}
.myTransition {
  transition: all, 0.4s linear 0s;
}
